body {
  font-family: 'Rock Salt', sans-serif;
  background-image: url("/images/grey-website-background.png");
}

footer {
  color: #DDD;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p {
  margin: 1rem;
}

h1 {
  font-size: 3vw;
  text-align: center;
  color: #FFF;
}

h1 small {
  color: #4BACCC;
}

h2 {
  font-size: 2.5vw;
  text-align: center;
  color: #CCC;
}

h3 {
  font-size: 1.5vw;
  color: #4BACCC;
}

h4 {
  font-size: 1.5vw;
  color: #32748A;
}

section {
  padding-top: 4.75rem;
}

.btn.btn-primary {
  color: #fff;
  background: #555;
  border: solid 2px #fff;
  border-radius: 50%;
  display: inline-block;
  width: auto;
  height: 5vw;
  padding-top: 0.2vw;
  padding-left: 1vw;
  padding right: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  font-size: 1.5vw;
  line-height: 5vw;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
}

.btn.btn-primary:active {
  top: 2px;
}

.btn.btn-primary:hover {
  color: #555;
  background: #fff;
  border: solid 2px #555;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
}

.projectCarouselImg img {
  width: auto;
  height: 31.25rem;
}

.jumbotron h1 {
  color: #FFF;
  font-size: 4.5vw;
}

.social-button {
  color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  display: inline-block;
  width: 5vw;
  height: 5vw;
  text-align: center;
  font-size: 2vw;
  line-height: 5vw;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.social-button:hover {
  border: solid 2px #fff;
  color: #444;
  background: #fff;
}

#about .jumbotron {
  background-image: url("/images/cologne-sunset.jpg");
  background-position: center center;
  padding-bottom: 10vw;
}

#about .jumbotron p {
  font-size: 1.5vw;
  color: #EEE;
}

#about .jumbotron h1 {
  font-size: 5vw;
}

#about img {
  padding-top: 2vw;
  max-width: 80%;
  height: auto;
}

#home {
  margin: 2.5rem 0px 1.875rem 0px;
  padding-top: 10vw;
  width: auto;
  background-image: url("/images/Website-Design-Background.png");
  background-size: cover;
  background-position: left bottom;
}

#home2 {
  margin-top: 9rem;
  position: center;
  text-align: center;
}